<%= form_with(model: form, local: true) do |f| %>

  <div id="page-1">
      <p> This form must be filled out completely - TYPE or PRINT information below: </p>
      <div class="section">
          <div class="blue">
          <p>SURGEON INFORMATION</p>
          </div>
          <%= f.fields_for :surgeon_contacts do |surgeon_form| %>
            <div class="field">
              <%= surgeon_form.label :name %>
              <%= surgeon_form.text_field :name %>
            </div>
            <hr/>
            <div class="field">
              <%= surgeon_form.label "Address" %>
              <%= surgeon_form.text_field :street %>
            </div>
            <hr/>
            <div class="field">
              <%= surgeon_form.label :phone %>
              <%= surgeon_form.text_field :phone %>
            </div>
            <hr/>
            <div class="field">
              <%= surgeon_form.label "Contact Person" %>
              <%= surgeon_form.text_field :primary %>
            </div>
            <hr/>
          <% end %>
          <div class="blue">
            <p>REGION</p>
          </div>
            <div class="field">
              <%= f.select :region, ["East","West"] %>
            </div>
        </div>
  </div>


  <div id="page-2">
    <div class="page-header">
      <h5>SHIPPING INFORMATION</h5>
      <p>TYPE or PRINT where the prescriptions are to be delivered</p>
    </div>
      <div class="section">
        <div id="page-2-1">
            <div class="blue">
              <p>HOSPITAL/DME INFORMATION</p>
            </div>
            <div class="dme">
              <%= f.fields_for @dme do |dme_form| %>
                <div class="field">
                  <%= dme_form.label :name %>
                  <%= dme_form.text_field :name %>
                  <hr/>
                </div>
                <div class="field">
                  <%= dme_form.label "Address" %>
                  <%= dme_form.text_field :street %>
                </div>
                <div>
                  <p class="grey">Daytime Contact Information</p>
                </div>
                <div class="field">
                  <%= dme_form.label :phone %>
                  <%= dme_form.text_field :phone %>
                  <hr/>
                </div>
                <div class="field">
                  <%= dme_form.label "Contact Person" %>
                  <%= dme_form.text_field :primary %>
                </div>
              <% end %>
            </div>
            <div class="blue">
              <p>PHYSICAL THERAPY INFORMATION</p>
            </div>
            <div class="pt">
                <%= f.fields_for @pt do |pt_form| %>
                <div class="field">
                  <%= pt_form.label :name %>
                  <%= pt_form.text_field :name %>
                  <hr/>
                </div>
                <div class="field">
                  <%= pt_form.label "Address" %>
                  <%= pt_form.text_field :street %>
                </div>
                <div>
                  <p class="grey">Daytime Contact Information</p>
                </div>
                <div class="field">
                  <%= pt_form.label :phone %>
                  <%= pt_form.text_field :phone %>
                  <hr/>
                </div>
                <div class="field">
                  <%= pt_form.label "Contact Person" %>
                  <%= pt_form.text_field :primary %>
                </div>
                <hr class="blue-line"/>
                <% end %>
            </div>
            <div class="field">
              <%= f.label :joint_replacement %>
              <%= f.check_box :joint_replacement%>
            </div>
            <hr/>
            <div class="field">
              <%= f.label :sports_medicine %>
              <%= f.check_box :sports_medicine %>
            </div>
            <hr/>
            <div class="field">
              <%= f.label :orthopedic_trauma %>
              <%= f.check_box :orthopedic_trauma %>
            </div>
            <hr/>
            <div class="field">
              <%= f.label :spine %>
              <%= f.check_box :spine %>
            </div>
            <hr/>
            <div class="field">
              <%= f.label :other_conditions %>
              <%= f.text_field :other_conditions %>
            </div>
        </div>
        <div id="page-2-2">
          <div class="blue">
            <p>NUMBER OF PATIENTS/UNITS PRESCRIBED (Monthly)</p>
          </div>
            <div class="form-product">
              <%= f.fields_for :form_products do |product_form| %>
                <div class="field">
                  <%= image_tag @products[product_form.index].image, class: "products" %>
                  <%= product_form.label :amount %>
                  <%= product_form.text_field :amount %>
                  <%= product_form.hidden_field :product_id %>
                </div><hr />
              <% end %>
            </div>
            <hr class="blue-line"/>
            <div class="field">
              <%= f.label "No Substitutions" %>
              <%= f.check_box :substitutions %>
            </div>
            <hr class="blue-line" />
          <div class="field signature">
            <%= f.label "Prescriber Signature" %>
            <%= f.hidden_field :signature, class: 'signature_pad_input' %>
            <div class="signature_pad text-center">
              <div class="signature_pad_body">
                <canvas></canvas>
              </div>
            </div>
            <hr/>
          </div>
          <br/>
          <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email %>
            <%= f.hidden_field :date, value: DateTime.now %>
          </div>
      </div>
  </div>


  <div id="page-3">
      <div class="page-header">
        <h5>SHIPPING INFORMATION</h5>
        <p>TYPE or PRINT where the prescriptions are to be delivered</p>
      </div>
      <div class="section">
        <div class="blue">
          <p>HOSPITAL/DME INFORMATION</p>
        </div>
          <%= f.fields_for :dme_contacts do |dme_form| %>
            <div class="field">
              <%= dme_form.label :name %>
              <%= dme_form.text_field :name %>
              <hr/>
            </div>
            <div class="field">
              <%= dme_form.label "Address" %>
              <%= dme_form.text_field :street %>
            </div>
            <div>
              <p class="grey">Daytime Contact Information</p>
            </div>
            <div class="field">
              <%= dme_form.label :phone %>
              <%= dme_form.text_field :phone %>
              <hr/>
            </div>
            <div class="field">
              <%= dme_form.label "Contact Person" %>
              <%= dme_form.text_field :primary %>
            </div>
            <hr class="blue-line"/>
          <% end %>
      </div>
  </div>


  <div id="page-4">
      <div class="page-header">
        <h5>SHIPPING INFORMATION</h5>
        <p>TYPE or PRINT where the prescriptions are to be delivered</p>
      </div>
      <div class="blue">
        <p>PHYSICAL THERAPY INFORMATION</p>
      </div>
      <div class="section">
          <%= f.fields_for :pt_contacts do |pt_form| %>
            <div class="field">
              <%= pt_form.label :name %>
              <%= pt_form.text_field :name %>
            </div>
            <hr/>
            <div class="field">
              <%= pt_form.label "Address" %>
              <%= pt_form.text_field :street %>
            </div>
              <p class="grey">Daytime Contact Information</p>
            <div class="field">
              <%= pt_form.label :phone %>
              <%= pt_form.text_field :phone %>
            </div>
            <hr/>
            <div class="field">
              <%= pt_form.label "Contact Person" %>
              <%= pt_form.text_field :primary %>
            </div>
            <hr class="blue-line" />
            <% end %>
    </div>
    <div class="actions signature_pad_save">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
