<%= form_with(model: form, local: true) do |f| %>

  <h1> SURGEON CONTACT </h1>
  <%= f.fields_for :surgeon_contacts do |surgeon_form| %>
    <div class="field">
      <%= surgeon_form.label :name %>
      <%= surgeon_form.text_field :name %>
    </div>
    <div class="field">
      <%= surgeon_form.label :phone %>
      <%= surgeon_form.text_field :phone %>
    </div>
    <div class="field">
      <%= surgeon_form.label :street %>
      <%= surgeon_form.text_field :street %>
    </div>
    <div class="field">
      <%= surgeon_form.label :primary %>
      <%= surgeon_form.text_field :primary %>
    </div> <hr />
  <% end %>

  <h1> FORM INFO </h1>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :region %>
    <%= f.text_field :region %>
  </div>

  <div class="field">
    <%= f.label :joint_replacement %>
    <%= f.check_box :joint_replacement%>
  </div>

  <div class="field">
    <%= f.label :sports_medicine %>
    <%= f.check_box :sports_medicine %>
  </div>

  <div class="field">
    <%= f.label :orthopedic_trauma %>
    <%= f.check_box :orthopedic_trauma %>
  </div>

  <div class="field">
    <%= f.label :spine %>
    <%= f.check_box :spine %>
  </div>

  <div class="field">
    <%= f.label :other_conditions %>
    <%= f.text_field :other_conditions %>
  </div>

  <h1> PRODUCTS </h1>
    <div>
      <%= f.fields_for :form_products do |product_form| %>
        <div class="field">
          <%= image_tag(@products[product_form.index].image) %>
          <%= product_form.label :amount %>
          <%= product_form.text_field :amount %>
          <%= product_form.hidden_field :product_id %>
        </div><hr />
      <% end %>
    </div>

  <h1> SIGN AND DATE </h1>
  <div class="field">
    <%= f.label :substitutions %>
    <%= f.check_box :substitutions %>
  </div>

  <div class="field">
    <%= f.label :signature %>
    <%= f.text_field :signature %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>


  <h1> DME CONTACTS </h1>
  <%= f.fields_for :dme_contacts do |dme_form| %>
    <div class="field">
      <%= dme_form.label :name %>
      <%= dme_form.text_field :name %>
    </div>
    <div class="field">
      <%= dme_form.label :phone %>
      <%= dme_form.text_field :phone %>
    </div>
    <div class="field">
      <%= dme_form.label :street %>
      <%= dme_form.text_field :street %>
    </div>
    <div class="field">
      <%= dme_form.label :primary %>
      <%= dme_form.text_field :primary %>
    </div> <hr/>
  <% end %>


  <h1> PT CONTACTS </h1>
  <%= f.fields_for :pt_contacts do |pt_form| %>
    <div class="field">
      <%= pt_form.label :name %>
      <%= pt_form.text_field :name %>
    </div>
    <div class="field">
      <%= pt_form.label :phone %>
      <%= pt_form.text_field :phone %>
    </div>
    <div class="field">
      <%= pt_form.label :street %>
      <%= pt_form.text_field :street %>
    </div>
    <div class="field">
      <%= pt_form.label :primary %>
      <%= pt_form.text_field :primary %>
    </div> <hr/>
    <% end %>

    <%= f.hidden_field :signature %>


  <%= f.hidden_field :signature, class: 'signature_pad_input' %>
  <div class="signature_pad text-center">
    <div class="signature_pad_body">
      <canvas></canvas>
    </div>
  </div>

  

  <div class="actions signature_pad_save">
    <%= f.submit %>
  </div>
<% end %>
