<div class="container">
  <div class="index-header">
    <h1>Forms </h1>
    <%= link_to 'New Form', new_form_path, class: " btn btn-success index-btn" %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger index-btn log-out") %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Form Id</th>
          <th>Surgeon</th>
          <th>Date</th>
          <th>Region</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @forms.each do |form| %>
          <tr>
            <td id="form-id"><%= form.id %></td>
            <td><%= form.surgeon_contacts.first.name %></td>
            <td><%= form.date&.to_formatted_s(:long) %></td>
            <td><%= form.region %></td>

            <td><%= link_to 'View Form', form, class:"btn btn-info" %></td>
            <td><%#= link_to 'Destroy', form, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
